html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}

.row {
    display: flex;
}

.left {
    flex: 30%;
    padding: 20px;
}

.right {
    flex: 70%;
}

.button-container {
    overflow-y: auto;
}

.button-container > button {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.channel {
    width: 80px;
    height: 100%;
    padding: 10px;
    float:left;
    text-align: center;
}

input[type=range] {
    -webkit-appearance: slider-vertical;
    height: 200px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.channel > button {
    width: 60%;
    height: 25px;
}