html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 20px;
}

.button-container {
    overflow-y: auto;
}

.button-container > button {
    width: 100px;
    height: 100px;
    margin: 5px;
}