html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    background-color: black;
    color: whitesmoke;
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    margin: 0;
}
table {
    width: 100%;
    text-align: center;
}
/*
Menu
 */
table#menu {
    padding: 3px 0 0;
    margin: 0;
    border-collapse: separate;
    border-spacing: 5px 0px;
    background-color:black;
}
#menu th, #menu td {
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 0px 2px;
    padding: 10px;
    margin: 5px 5px 0px 0px;
    background-color:#4b8a9c;
    min-width: 30px;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    border-radius: 25px 25px 0px 0px;
}
#menu th.selected, #menu td.selected {
    background-color:#d6dfde;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 0px 2px;
    font-weight: bolder;
    color:black;

}
#menu th.pad, #menu td.pad {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color:black;
    font-size: 1em;
    text-align: left;
    font-weight: normal;
}
#SNDStatusIcon {
    color: black;
}
#menu td#allOff {
    border: 4px solid black;
    padding: 10px;
    margin: 5px;
    background-color:#be0002;
    border-radius: 20px;
    border-spacing:20px;
}
#lockIcon {
    height: 20px;
    margin-top:2px;
}
/*
Main container
 */
#container {
    border-radius:5px;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color:#d6dfde;
    border-radius:0px 5px 0px  0px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 2px;
    margin: 0 5px 10px;
}
.tab {
    padding: 10px;
    color:black;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
}
/*
    Individual items
 */
.button-container > button,
.keypad-key,
.keypad-enter,
.keypad-clear {
    width: 140px;
    height: 60px;
    margin:5px;
    padding:5px;
    background-color: #154d7d;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 1em;
}
#keypad-open {
    background-color: #6f757b;
}
button:focus {
    outline: none;
    box-shadow: none;
}
.channel {
    width: 80px;
    height: 100%;
    padding: 10px;
    float:left;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.channel > button {
    width: 70px;
    height: 40px;
    margin:5px;
    padding:5px;
    background-color: #808080;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 1em;
}
div.faderWrapper {
    width: 47px;
    margin-left:14.5px;
    margin-right:18.5px;
    height: 220px;
}
/*
Faders
 */

input[type=range].fader {
    width: 200px;
    margin: 17.2px 0;
    background-color: transparent;
    -webkit-appearance: none;

    margin-top: 100px;
    transform: rotate(270deg) translateY(-75px);
}
input[type=range].fader:focus {
    outline: none;
}
input[type=range].fader::-webkit-slider-runnable-track {
    background: #000000;
    border: 2.2px solid #ffffff;
    border-radius: 6.2px;
    width: 200px;
    height: 12.6px;
    cursor: pointer;
}
input[type=range].fader::-webkit-slider-thumb {
    margin-top: -19.4px;
    width: 25px;
    height: 47px;
    background: #808080;
    border: 1.1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:disabled.fader::-webkit-slider-thumb {
    margin-top: -2px;
    width: 25px;
    height: 12.6px;
    background: #808080;
    border: 1.1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}
/*
Modals
 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    color:black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 48px;
    line-height: 15px;
    font-weight: bold;
    margin: 5px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mute{
    border: red solid 2px !important;
    color: red !important;
    font-weight: bold;
}

.unmute{
    border: black solid 2px;
    color: black;
    font-weight: bold;
}

.info {
    width: 100%;
    padding-bottom: 1em;
}

.keypad-wrapper{
    display: flex;
}

.right-fader{
    flex: 10px;
}

#intensityFader{
    height: 100px;
}

.keypad-container {
    flex: 50%;
}

.keypad {
    width: 50%;
    margin: 0 25%;
}

.keypad-key,
.keypad-enter,
.keypad-clear {
    width: 100px;
    height: 40px;
}

#keypad-output {
    border: 1px gray solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: larger;
    width:90%;
}

.error {
    border: 2px darkred solid !important;
    color: red;
}



/*
    So basically JS doesn't let you set CSS pseudo-element styles easily, so there's quite a few bizarre suggestions on stackoverflow but the cleanest I can come up with is to just pre-generate a style for ever meter value from 0-100% and then set the data attribute accordingly.
 */
input[type=range][data-meter="0"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #000000 0%, #000000 100%);
}
input[type=range][data-meter="1"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 1%, #000000 1%, #000000 100%);
}
input[type=range][data-meter="2"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 2%, #000000 2%, #000000 100%);
}
input[type=range][data-meter="3"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 3%, #000000 3%, #000000 100%);
}
input[type=range][data-meter="4"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 4%, #000000 4%, #000000 100%);
}
input[type=range][data-meter="5"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 5%, #000000 5%, #000000 100%);
}
input[type=range][data-meter="6"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 6%, #000000 6%, #000000 100%);
}
input[type=range][data-meter="7"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 7%, #000000 7%, #000000 100%);
}
input[type=range][data-meter="8"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 8%, #000000 8%, #000000 100%);
}
input[type=range][data-meter="9"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 9%, #000000 9%, #000000 100%);
}
input[type=range][data-meter="10"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 10%, #000000 10%, #000000 100%);
}
input[type=range][data-meter="11"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 11%, #000000 11%, #000000 100%);
}
input[type=range][data-meter="12"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 12%, #000000 12%, #000000 100%);
}
input[type=range][data-meter="13"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 13%, #000000 13%, #000000 100%);
}
input[type=range][data-meter="14"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 14%, #000000 14%, #000000 100%);
}
input[type=range][data-meter="15"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 15%, #000000 15%, #000000 100%);
}
input[type=range][data-meter="16"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 16%, #000000 16%, #000000 100%);
}
input[type=range][data-meter="17"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 17%, #000000 17%, #000000 100%);
}
input[type=range][data-meter="18"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 18%, #000000 18%, #000000 100%);
}
input[type=range][data-meter="19"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 19%, #000000 19%, #000000 100%);
}
input[type=range][data-meter="20"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 20%, #000000 20%, #000000 100%);
}
input[type=range][data-meter="21"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 21%, #000000 21%, #000000 100%);
}
input[type=range][data-meter="22"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 22%, #000000 22%, #000000 100%);
}
input[type=range][data-meter="23"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 23%, #000000 23%, #000000 100%);
}
input[type=range][data-meter="24"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 24%, #000000 24%, #000000 100%);
}
input[type=range][data-meter="25"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 25%, #000000 25%, #000000 100%);
}
input[type=range][data-meter="26"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 26%, #000000 26%, #000000 100%);
}
input[type=range][data-meter="27"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 27%, #000000 27%, #000000 100%);
}
input[type=range][data-meter="28"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 28%, #000000 28%, #000000 100%);
}
input[type=range][data-meter="29"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 29%, #000000 29%, #000000 100%);
}
input[type=range][data-meter="30"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 30%, #000000 30%, #000000 100%);
}
input[type=range][data-meter="31"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 31%, #000000 31%, #000000 100%);
}
input[type=range][data-meter="32"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 32%, #000000 32%, #000000 100%);
}
input[type=range][data-meter="33"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 33%, #000000 33%, #000000 100%);
}
input[type=range][data-meter="34"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 34%, #000000 34%, #000000 100%);
}
input[type=range][data-meter="35"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 35%, #000000 35%, #000000 100%);
}
input[type=range][data-meter="36"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 36%, #000000 36%, #000000 100%);
}
input[type=range][data-meter="37"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 37%, #000000 37%, #000000 100%);
}
input[type=range][data-meter="38"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 38%, #000000 38%, #000000 100%);
}
input[type=range][data-meter="39"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 39%, #000000 39%, #000000 100%);
}
input[type=range][data-meter="40"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 40%, #000000 40%, #000000 100%);
}
input[type=range][data-meter="41"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 41%, #000000 41%, #000000 100%);
}
input[type=range][data-meter="42"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 42%, #000000 42%, #000000 100%);
}
input[type=range][data-meter="43"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 43%, #000000 43%, #000000 100%);
}
input[type=range][data-meter="44"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 44%, #000000 44%, #000000 100%);
}
input[type=range][data-meter="45"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 45%, #000000 45%, #000000 100%);
}
input[type=range][data-meter="46"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 46%, #000000 46%, #000000 100%);
}
input[type=range][data-meter="47"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 47%, #000000 47%, #000000 100%);
}
input[type=range][data-meter="48"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 48%, #000000 48%, #000000 100%);
}
input[type=range][data-meter="49"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 49%, #000000 49%, #000000 100%);
}
input[type=range][data-meter="50"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 50%, #000000 50%, #000000 100%);
}
input[type=range][data-meter="51"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 51%, #000000 51%, #000000 100%);
}
input[type=range][data-meter="52"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 52%, #000000 52%, #000000 100%);
}
input[type=range][data-meter="53"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 53%, #000000 53%, #000000 100%);
}
input[type=range][data-meter="54"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 54%, #000000 54%, #000000 100%);
}
input[type=range][data-meter="55"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 55%, #000000 55%, #000000 100%);
}
input[type=range][data-meter="56"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 56%, #000000 56%, #000000 100%);
}
input[type=range][data-meter="57"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 57%, #000000 57%, #000000 100%);
}
input[type=range][data-meter="58"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 58%, #000000 58%, #000000 100%);
}
input[type=range][data-meter="59"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 59%, #000000 59%, #000000 100%);
}
input[type=range][data-meter="60"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 60%, #000000 60%, #000000 100%);
}
input[type=range][data-meter="61"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 61%, #000000 61%, #000000 100%);
}
input[type=range][data-meter="62"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 62%, #000000 62%, #000000 100%);
}
input[type=range][data-meter="63"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 63%, #000000 63%, #000000 100%);
}
input[type=range][data-meter="64"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 64%, #000000 64%, #000000 100%);
}
input[type=range][data-meter="65"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 65%, #000000 65%, #000000 100%);
}
input[type=range][data-meter="66"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 66%, #000000 66%, #000000 100%);
}
input[type=range][data-meter="67"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 67%, #000000 67%, #000000 100%);
}
input[type=range][data-meter="68"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 68%, #000000 68%, #000000 100%);
}
input[type=range][data-meter="69"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 69%, #000000 69%, #000000 100%);
}
input[type=range][data-meter="70"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 70%, #000000 70%, #000000 100%);
}
input[type=range][data-meter="71"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 71%, #000000 71%, #000000 100%);
}
input[type=range][data-meter="72"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 72%, #000000 72%, #000000 100%);
}
input[type=range][data-meter="73"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 73%, #000000 73%, #000000 100%);
}
input[type=range][data-meter="74"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 74%, #000000 74%, #000000 100%);
}
input[type=range][data-meter="75"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 75%, #000000 75%, #000000 100%);
}
input[type=range][data-meter="76"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 76%, #000000 76%, #000000 100%);
}
input[type=range][data-meter="77"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 77%, #000000 77%, #000000 100%);
}
input[type=range][data-meter="78"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 78%, #000000 78%, #000000 100%);
}
input[type=range][data-meter="79"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 79%, #000000 79%, #000000 100%);
}
input[type=range][data-meter="80"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 80%, #000000 80%, #000000 100%);
}
input[type=range][data-meter="81"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 81%, #000000 81%, #000000 100%);
}
input[type=range][data-meter="82"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 82%, #000000 82%, #000000 100%);
}
input[type=range][data-meter="83"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 83%, #000000 83%, #000000 100%);
}
input[type=range][data-meter="84"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 84%, #000000 84%, #000000 100%);
}
input[type=range][data-meter="85"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #000000 85%, #000000 100%);
}
input[type=range][data-meter="86"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 86%, #000000 86%, #000000 100%);
}
input[type=range][data-meter="87"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 87%, #000000 87%, #000000 100%);
}
input[type=range][data-meter="88"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 88%, #000000 88%, #000000 100%);
}
input[type=range][data-meter="89"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 89%,#000000 89%, #000000 100%);
}
input[type=range][data-meter="90"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%,#000000 90%, #000000 100%);
}
input[type=range][data-meter="91"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 91%, #000000 91%, #000000 100%);
}
input[type=range][data-meter="92"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 92%, #000000 92%, #000000 100%);
}
input[type=range][data-meter="93"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 93%, #000000 93%,  #000000 100%);
}
input[type=range][data-meter="94"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 94%, #000000 94%,  #000000 100%);
}
input[type=range][data-meter="95"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 95%, #000000 95%,  #000000 100%);
}
input[type=range][data-meter="96"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 95%, #ff0000 95%, #ff0000 96%,#000000 96%, #000000 100%);
}
input[type=range][data-meter="97"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 95%, #ff0000 95%, #ff0000 97%,#000000 97%, #000000 100%);
}
input[type=range][data-meter="98"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 95%, #ff0000 95%, #ff0000 98%,#000000 98%, #000000 100%);
}
input[type=range][data-meter="99"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 95%, #ff0000 95%, #ff0000 99%,#000000 99%, #000000 100%);
}
input[type=range][data-meter="100"].fader::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00ff00 0%, #00ff00 85%, #ffa500 90%, #ffa500 95%, #ff0000 95%, #ff0000 100%);
}