html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    background-color: black;
    color: whitesmoke;
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    margin: 0;
}
table {
    width: 100%;
    text-align: center;
}
/*
Menu
 */
table#menu {
    padding: 3px 0 0;
    margin: 0;
    border-collapse: separate;
    border-spacing: 5px 0px;
    background-color:black;
}
#menu th, #menu td {
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 0px 2px;
    padding: 10px;
    margin: 5px 5px 0px 0px;
    background-color:#4b8a9c;
    min-width: 30px;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    border-radius: 25px 25px 0px 0px;
}
#menu th.selected, #menu td.selected {
    background-color:#d6dfde;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 0px 2px;
    font-weight: bolder;
    color:black;

}
#menu th.pad, #menu td.pad {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color:black;
    font-size: 1em;
    text-align: left;
    font-weight: normal;
}
#SNDStatusIcon {
    color: black;
}
#menu td#allOff {
    border: 4px solid black;
    padding: 10px;
    margin: 5px;
    background-color:#be0002;
    border-radius: 20px;
    border-spacing:20px;
}
/*
Main container
 */
#container {
    border-radius:5px;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color:#d6dfde;
    border-radius:0px 5px 0px  0px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 2px;
    margin: 0 5px 10px;
}
.tab {
    padding: 20px;
    color:black;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
}
/*
    Individual items
 */
.button-container > button {
    width: 140px;
    height: 60px;
    margin:5px;
    padding:5px;
    background-color: #154d7d;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 1em;
}
.channel {
    width: 80px;
    height: 100%;
    padding: 10px;
    float:left;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.channel > button {
    width: 70px;
    height: 40px;
    margin:5px;
    padding:5px;
    background-color: #808080;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 1em;
}
div.faderWrapper {
    width: 47px;
    margin-left:14.5px;
    margin-right:18.5px;
    height: 220px;
}
/*
Faders
 */

input[type=range].fader {
    width: 200px;
    margin: 17.2px 0;
    background-color: transparent;
    -webkit-appearance: none;

    margin-top: 100px;
    transform: rotate(270deg) translateY(-75px);
}
input[type=range].fader:focus {
    outline: none;
}
input[type=range].fader::-webkit-slider-runnable-track {
    background: #000000;
    border: 2.2px solid #ffffff;
    border-radius: 6.2px;
    width: 200px;
    height: 12.6px;
    cursor: pointer;
}
input[type=range].fader::-webkit-slider-thumb {
    margin-top: -19.4px;
    width: 25px;
    height: 47px;
    background: #808080;
    border: 1.1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:disabled.fader::-webkit-slider-thumb {
    margin-top: -2px;
    width: 25px;
    height: 12.6px;
    background: #808080;
    border: 1.1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}
/*
Modals
 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    color:black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 48px;
    line-height: 15px;
    font-weight: bold;
    margin: 5px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mute{
    border: red solid 2px;
    color: red;
    font-weight: bold;
}

.unmute{
    border: black solid 2px;
    color: black;
    font-weight: bold;
}

.info {
    width: 100%;
    padding-bottom: 1em;
}